:root{
    --hover-color: #2196F3;
    --team-bg-color: #F5F4FA;
    --text-color: #212121;
    --main-color: #FFFFFF;
    --descr-color: #757575;
    --main-bg-color: #2F303A;
    --logo-color: #000000;
    --details-color:#ECECEC;
    --icon-color: #AFB1B8;
    --transparent-details: rgba(255, 255, 255, 0.60);
}
 

body{
    font-family: Roboto;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.header{
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--details-color) ;
}
.header-box{
    display: flex;
    align-items: center;
}
.header-logo{
    color: var(--hover-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.nav-list{
    display: flex;
    gap: 50px;
}

.header-span{
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.nav-link{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

 .header-icon{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    fill: var(--descr-color);
}


.nav-link:hover{
    color: var(--hover-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.nav-link-current{
    color: var(--hover-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-item:not(:last-child){
    position: relative;
    .nav-link-current:after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--hover-color);
        position: absolute;
        bottom: -35px;
      }
  }


.header-contact{
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.contact-link{
    color: var(--descr-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
}

.contact-link:hover{
    color: var(--hover-color);
    .header-icon{
        fill: var(--hover-color);
    }
}

/* hero */

.hero{
    padding: 200px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imgs/bgmain.jpg);
    background-position: center;
    background-size: cover;
}

.hero-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title{
    width: 696px;
    display: flex;
    flex-wrap: wrap;
    color: var(--main-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn{
    padding: 10px 32px;
    color: var(--main-color);
    background-color: var(--hover-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


/* section meet */
.meet{
    padding: 94px 0;
}
.meet-item::before{
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: var(--team-bg-color);
    display: block;
    margin-bottom: 30px;
    background-image: url(../imgs/antenna.png);
    background-repeat: no-repeat;
    background-position: center;
}

.meet-item:nth-child(2)::before {
    background-image: url(../imgs/clock.png);
}
.meet-item:nth-child(3)::before {
    background-image: url(../imgs/diagram.png);
}

.meet-item:nth-child(4)::before {
    background-image: url(../imgs/astronaut.png);
}
.meet-item{
    width: 270px
}
.meet-list{
    display: flex;
    gap: 30px;
}

.meet-caption{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.meet-description{
    color: var(--descr-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}

/* section about */
.about-list{
    display: flex;
    gap:30px;
}
.about-item{
    flex-basis: calc((100% - 60px)/3);
    position: relative;
}
.about{
    padding-bottom: 94px;
}

.about-subtitle{
    color: var(--main-color);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    
}

.about-overlay{
    position: absolute;
    bottom: 0px;
    padding: 27px 0;
    background: rgba(47, 48, 58, 0.80);
    width: 100%;
}
.about-title{
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

/* section team */
.team{
    padding: 94px 0;
    background-color: var(--team-bg-color);
}

.team-title{
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.team-icon{
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
}
.team-list{
    display: flex;
    gap:30px;
}

.team-item{
    border-radius: 0px 0px 4px 4px;
    background-color: var(--main-color);
    flex-basis: calc((100% - 90px) /4);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-box{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-caption{
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

.team-description{
    color: var(--descr-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-top: 10px;
}

.team-iconslist{
    display: flex;
    gap: 10px;
    margin-top: 16px;
    justify-content: center;
  }
  
.team-iconlink{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.team-iconlink:hover{
    background-color: var(--hover-color);
   .team-icon{
    fill: var(--main-color);
   }
}
  
.team-icon{
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

/* clients */
.clients-box{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-title{
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.clients-link{
    width: 170px;
    height: 92px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid var(--icon-color);
}

.clients-link:hover{
    width: 170px;
    height: 92px;
    align-content: center;
    justify-content: center;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid var(--hover-color);
    .clients-icon{
        fill: var(--hover-color);
    }
}

.clients-list{
    display: flex;
    gap: 30px;
}


.clients-icon{
    height: 60px;
    width: 106px;
    fill: var(--icon-color);
}
/* footer */
footer{
    background-color: var(--main-bg-color);
}
.footer-box{
    display: flex;
    align-items: baseline;
}
.footer{
    padding: 60px 0;
}

.footer-logo{
    color: var(--main-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.footer-address{
    margin-top: 20px;
}
.footer-span{
    color: var(--hover-color);
    font-family: Raleway;
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.footer-map{
    color: var(--main-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}

.footer-link{
    color: var(--transparent-details);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px; 
}

.footer-item{
    margin-top: 9px;
}

.footer-icontitle{
    color: var(--main-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.footer-icons{
    margin-left: 75px;
}
.footer-iconslist{
    display: flex;
    gap: 10px;
    margin-top: 16px;
    justify-content: center;
  }
  
.footer-iconlink{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.10);;
}
  
.footer-iconlink:hover{
    background-color: var(--hover-color);
   .team-icon{
    fill: var(--main-color);
   }
}
  
.footer-icon{
  width: 20px;
  height: 20px;
  fill: var(--main-color);
}

.footer-subscr{
    margin-left: 93px;
}
.subscr-form{
    display: flex;
}
.subscr-title{
    color: var(--main-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subscr-input{
    padding-left: 16px;
    display: block;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    outline: 1px solid rgba(255, 255, 255, 0.30);    ;
    border: none;
    background-color: var(--main-bg-color);
}

.subcr-btn {
    background-color: var(--hover-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--main-color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    cursor: pointer;
    margin-left: 12px;
  }

.subscr-icon{
    fill: var(--main-color);
    width: 24px;
    height: 24px;
}
/* filter */
.filter{
    padding-top: 94px;
    padding-bottom: 50px;
}

.filter-list{
    display: flex;
    gap: 8px;
    justify-content: center;
}

.filter-btn{
    border-radius: 4px;
    padding: 6px 22px;
    color: var(--text-color);
    background-color: var(--team-bg-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;
    border: none;
    cursor: pointer;
}

.filter-btn:focus,.filter-btn:hover{
    color: var(--main-color);
    background-color: var(--hover-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;
    border: none;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
/* portfolio */
.portfolio{
    padding-bottom: 94px;
}

.portfolio-box{
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item{
    border: 1px solid var(--details-color);
    flex-basis: calc((100% - 60px)/3);
}
.portfolio-item:hover{
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.portfolio-caption{
    color: var(--text-color);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
}

.portfolio-description{
    margin-top: 4px;
    color: var(--descr-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.48px;
}

/* modal */

.backdrop{
    background: rgba(0, 0, 0, 0.20);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    padding: 40px;
    width: 528px;
    background-color: var(--main-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: none;
    outline: 1px solid var(--icon-color);
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-icon-close{
    fill: var(--logo-color);
    width: 30px;
    height: 30px;
}

.modal-icon{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 11px;
    left: 12px;
    fill: var(--text-color);
}
.modal-close:hover, .modal-close:focus{
    .modal-icon-close{
        fill: var(--hover-color);
    }
}
.input-box {
    position: relative;
  }
.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-title{
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}

.modal-lable{
    color: var(--descr-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.12px;
}
.modal-lable-checkbox{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--descr-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}
.modal-input{
    padding-left: 42px;
    display: block;
    margin-top: 4px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: 1px solid rgba(33, 33, 33, 0.20);
    border: none;
    margin-bottom: 10px;
}

.modal-link{
    color: var(--hover-color);
    text-decoration:underline;
}

.modal-input:hover,.modal-input:focus{
    outline: 1px solid var(--hover-color);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon{
    fill: var(--hover-color);
}

.modal-comment:focus{
    outline: 1px solid var(--hover-color);
}
.modal-comment{
    padding: 12px 16px;
    resize: none;
    margin-top: 4px;
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    outline: 1px solid rgba(33, 33, 33, 0.20);
    border: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.12px;
}

.modal-btn{
    border-radius: 4px;
    background: #188CE8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px;
    padding: 10px 52px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: block;
}