:root{
    --hover-color: #2196F3;
    --team-bg-color: #F5F4FA;
    --text-color: #212121;
    --main-color: #FFFFFF;
    --descr-color: #757575;
    --main-bg-color: #2F303A;
    --logo-color: #000000;
    --details-color:#ECECEC;
    --transparent-details: rgba(255, 255, 255, 0.60);
}
 

body{
    font-family: Roboto;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.header{
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--details-color) ;
}
.header-box{
    display: flex;
    align-items: center;
}
.header-logo{
    color: var(--hover-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.nav-list{
    display: flex;
    gap: 50px;
}

.header-span{
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.nav-link{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-link:hover{
    color: var(--hover-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-contact{
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.contact-link{
    color: var(--descr-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.contact-link:hover{
    color: var(--hover-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

/* hero */

.hero{
    padding: 200px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imgs/bgmain.jpg);
    background-position: center;
    background-size: cover;
}

.hero-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title{
    width: 696px;
    display: flex;
    flex-wrap: wrap;
    color: var(--main-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn{
    padding: 10px 32px;
    color: var(--main-color);
    background-color: var(--hover-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
}


/* section meet */
.meet{
    padding: 94px 0;
}
.meet-item::before{
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: var(--team-bg-color);
    display: block;
    margin-bottom: 30px;
    background-image: url(../imgs/antenna.png);
    background-repeat: no-repeat;
    background-position: center;
}

.meet-item:nth-child(2)::before {
    background-image: url(../imgs/clock.png);
}
.meet-item:nth-child(3)::before {
    background-image: url(../imgs/diagram.png);
}

.meet-item:nth-child(4)::before {
    background-image: url(../imgs/astronaut.png);
}
.meet-item{
    width: 270px
}
.meet-list{
    display: flex;
    gap: 30px;
}

.meet-caption{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.meet-description{
    color: var(--descr-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}

/* section about */
.about-list{
    display: flex;
    gap:30px;
}
.about-item{
    flex-basis: calc((100% - 60px)/3);
}
.about{
    padding-bottom: 94px;
}
.about-title{
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

/* section team */
.team{
    padding: 94px 0;
    background-color: var(--team-bg-color);
}

.team-title{
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.team-list{
    display: flex;
    gap:30px;
}

.team-item{
    background-color: var(--main-color);
    flex-basis: calc((100% - 90px) /4);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-box{
    margin-top: 30px;
    margin-bottom: 30px;
}

.team-caption{
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

.team-description{
    color: var(--descr-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-top: 10px;
}


/* footer */
footer{
    background-color: var(--main-bg-color);
}
.footer{
    padding: 60px 0;
}

.footer-logo{
    color: var(--hover-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.footer-address{
    margin-top: 20px;
}
.footer-span{
    color: var(--main-color);
    font-family: Raleway;
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.footer-map{
    color: var(--main-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}

.footer-link{
    color: var(--transparent-details);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px; 
}

.footer-item{
    margin-top: 9px;
}
/* filter */
.filter{
    padding-top: 94px;
    padding-bottom: 50px;
}

.filter-list{
    display: flex;
    gap: 8px;
    justify-content: center;
}

.filter-btn{
    border-radius: 4px;
    padding: 6px 22px;
    color: var(--text-color);
    background-color: var(--team-bg-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;
    border: none;
}

.filter-btn:focus,.filter-btn:hover{
    color: var(--main-color);
    background-color: var(--hover-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;
    border: none;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
/* portfolio */
.portfolio{
    padding-bottom: 94px;
}

.portfolio-box{
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item{
    border: 1px solid var(--details-color);
    flex-basis: calc((100% - 60px)/3);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.portfolio-caption{
    color: var(--text-color);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
}

.portfolio-description{
    margin-top: 4px;
    color: var(--descr-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.48px;
}

