:root{
    --hover-color: #2196F3;
}

:root{
    --texy-color: #212121;
}

:root{
    --main-color: #FFFFFF;
}

:root{
    --decr-color: #757575;
}

:root{
    --main-bg-color: #2F303A;
}

:root{
    --team-bg-color: #F5F4FA;
}

 