.hero{
    padding: 200px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imgs/bgmain.jpg);
    background-position: center;
    background-size: cover;

    &__box{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        @include flexbox ($direction:column)
    }

    &__title{
        width: 696px;
        display: flex;
        flex-wrap: wrap;
        color: $main-color;
        text-align: center;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36; /* 136.364% */
        letter-spacing: 2.64px;
        text-transform: uppercase;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    &__btn{
        padding: 10px 32px;
        color: $main-color;
        background-color: $hover-color;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87; /* 187.5% */
        letter-spacing: 0.96px;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }    
}





