.team{
    padding: 94px 0;
    background-color: $team-bg-color;

    &__title{
        color: $text-color;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
    }

    &__list{
        display: flex;
        gap:30px;
    }

    &__item{
        border-radius: 0px 0px 4px 4px;
        background-color: $main-color;
        flex-basis: calc((100% - 90px) /4);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    }

    &__box{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__caption{
        color: $text-color;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.48px;
    }
    
    &__description{
        color: $descr-color;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.18;
        letter-spacing: 0.48px;
        margin-top: 10px;
    }
    
    &__iconslist{
        display: flex;
        gap: 10px;
        margin-top: 16px;
        justify-content: center;
    }

    &__iconlink{
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover{
            background-color: $hover-color;
           .team__icon{
            fill: $main-color;
           }
        }
    }
    
    &__icon{
        width: 20px;
        height: 20px;
        fill: $icon-color;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}





  
 

  

