ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  border: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}
.header__btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}
.header__menu {
  width: 40px;
  height: 40px;
  fill: #000000;
}
.header__span {
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}

.nav {
  display: flex;
  gap: 50px;
}
.nav__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover {
  color: #2196F3;
}
.nav__item:not(:last-child) {
  position: relative;
}
.nav__item:not(:last-child) .current:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  position: absolute;
  bottom: -35px;
}

.current {
  color: #2196F3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.contact {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
    gap: 30px;
  }
}
.contact__link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover {
  color: #2196F3;
}
.contact__link:hover .contact__icon {
  fill: #2196F3;
}
.contact__icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile {
  padding: 48px 0 48px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 1;
  z-index: 1;
}
.mobile__close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.mobile__close:hover .mobile__icon {
  fill: #2196F3;
}
.mobile__icon {
  width: 35px;
  height: 35px;
  fill: #000000;
}
.mobile__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 150px;
}
.mobile__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}
.mobile__link:is(:hover, :focus) {
  color: #2196F3;
}
.mobile__contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.mobile__contact {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
}
.mobile__contact:is(:hover, :focus) {
  color: #2196F3;
}
.mobile__itm:first-child .mobile__contact {
  font-size: 34px;
  color: #2196F3;
}
.mobile__media {
  display: flex;
  gap: 10px;
}
.mobile__social {
  color: #2196F3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22; /* 122.222% */
  letter-spacing: 0.36px;
  display: flex;
  align-items: center;
}
.mobile__elm:not(:last-child) .mobile__social::after {
  content: "";
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  display: block;
  margin-left: 10px;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imgs/mobile/hero-mobile@1x.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imgs/mobile/hero-mobile@2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imgs/tablet/hero-tablet@1x.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imgs/tablet/hero-tablet@2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imgs/desktop/hero-desktop@1x.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imgs/desktop/hero-desktop@2x.webp);
  }
}
.hero__title {
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 1.56px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    width: 696px;
  }
}
.hero__btn {
  padding: 10px 24px;
  color: #FFFFFF;
  background-color: #2196F3;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.meet {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .meet {
    padding: 94px 0;
  }
}
.meet__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .meet__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.meet__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .meet__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .meet__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .meet__item {
    max-width: 270px;
  }
}
.meet__item::before {
  content: "";
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
  display: block;
  margin-bottom: 30px;
  background-image: url(../imgs/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 480px) {
  .meet__item::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .meet__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .meet__item::before {
    width: 270px;
  }
}
.meet__item:nth-child(2)::before {
  background-image: url(../imgs/clock.png);
}
.meet__item:nth-child(3)::before {
  background-image: url(../imgs/diagram.png);
}
.meet__item:nth-child(4)::before {
  background-image: url(../imgs/astronaut.png);
}
.meet__caption {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .meet__caption {
    text-align: start;
  }
}
.meet__description {
  width: 100%;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
@media screen and (min-width: 480px) {
  .meet__description {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .meet__description {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .meet__description {
    width: 270px;
  }
}

.about {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}
.about__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.about__list {
  display: flex;
  gap: 30px;
}
.about__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
.about__overlay {
  position: absolute;
  bottom: 0px;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
}
.about__subtitle {
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  padding: 60px 0;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.team__list {
  display: flex;
  gap: 30px;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
  }
}
.team__item {
  flex-basis: 100%;
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .team__item {
    flex-basis: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__caption {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
}
.team__description {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 10px;
}
.team__iconslist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  margin-top: 16px;
}
.team__iconlink {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__iconlink:hover {
  background-color: #2196F3;
}
.team__iconlink:hover .team__icon {
  fill: #FFFFFF;
}
.team__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__link {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  flex-direction: row;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover {
  border: 1px solid #2196F3;
}
.clients__link:hover .clients__icon {
  fill: #2196F3;
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__icon {
  height: 60px;
  width: 106px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__link {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  flex-direction: row;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover {
  border: 1px solid #2196F3;
}
.clients__link:hover .clients__icon {
  fill: #2196F3;
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__icon {
  height: 60px;
  width: 106px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2F303A;
  padding: 60px 0;
}
.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__box {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    text-align: start;
  }
}
.footer__logo {
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
  }
}
.footer__span {
  color: #2196F3;
}
.footer__address {
  margin-top: 20px;
}
.footer__map {
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer__item {
  margin-top: 9px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
@media screen and (min-width: 1200px) {
  .footer__icons {
    margin-left: 70px;
  }
}
.footer__icontitle {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__iconslist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  margin-top: 16px;
}
.footer__iconlink {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__iconlink:hover {
  background-color: #2196F3;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer__subscr {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscr {
    margin-top: 0;
    margin-left: auto;
  }
}
.footer__title {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    flex-direction: row;
    gap: 0;
  }
}
.footer__input {
  padding-left: 16px;
  display: block;
  width: 290px;
  height: 50px;
  border-radius: 4px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border: none;
  background-color: #2F303A;
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}
.footer__btn {
  background-color: #2196F3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
}
.footer__subscricon {
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
}

.filter {
  padding-top: 60px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}
.filter__list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  flex-direction: row;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .filter__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    flex-direction: row;
  }
}
.filter__btn {
  border-radius: 4px;
  padding: 6px 22px;
  color: #212121;
  background-color: #F5F4FA;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
  border: none;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:focus, .filter__btn:hover {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.portfolio {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-bottom: 94px;
  }
}
.portfolio__list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: row;
}
.portfolio__item {
  border: 1px solid #ECECEC;
  flex-basis: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.portfolio__item:hover .portfolio__text {
  transform: translateX(0);
}
@media screen and (min-width: 480px) {
  .portfolio__item {
    flex-basis: 450px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.portfolio__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio__text {
  height: 100%;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55556; /* 155.556% */
  letter-spacing: 0.54px;
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__box {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.portfolio__caption {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}
.portfolio__description {
  margin-top: 4px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.48px;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -1000px);
}

.modal {
  padding: 40px;
  width: 450px;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: none;
  outline: 1px solid #AFB1B8;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  flex-direction: row;
}
.modal__close:hover .modal__iconclose, .modal__close:focus .modal__iconclose {
  fill: #2196F3;
}
.modaliconclose {
  fill: #000000;
  width: 30px;
  height: 30px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__lable {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
}
.modal__inputbox {
  position: relative;
}
.modal__input {
  padding-left: 42px;
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  margin-bottom: 10px;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  outline: 1px solid #2196F3;
}
.modal__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 12px;
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.modal__comment {
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
}
.modal__comment:focus {
  outline: 1px solid #2196F3;
}
.modal__lablecheckbox {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.modal__link {
  color: #2196F3;
  text-decoration: underline;
  font-size: 12px;
}
.modal__agree {
  font-size: 12px;
}
.modal__btn {
  border-radius: 4px;
  background: #188CE8;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 52px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: #2196F3;
}/*# sourceMappingURL=main.css.map */