@mixin flexbox ( $justify: center, $align:center, $wrap:wrap, $direction:row, $gap:0px){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    gap: $gap;
    flex-direction: $direction;
}