:root{
    --hover-color: #2196F3;
    --team-bg-color: #F5F4FA;
    --text-color: #212121;
    --main-color: #FFFFFF;
    --descr-color: #757575;
    --main-bg-color: #2F303A;
    --logo-color: #000000;
    --details-color:#ECECEC;
    --icon-color: #AFB1B8;
    --transparent-details: rgba(255, 255, 255, 0.60);
}
 